.wp-block-ftp-product-display-address-block:after {
    content:"";
    clear:both;
    display: table;
}

.wp-block-ftp-product-display-address-block .placeholder-block {
    border: 1px solid #32373c;
    padding-right: 10px;
    padding-left: 10px;
}